[Unit]
Description=Logs some system statistics to the systemd journal
Requires=backup-onedrive.service

[Timer]
Unit=backup-onedrive.service
OnCalendar=Hourly

[Install]
WantedBy=timers.target
