[Unit]
After=network.target

[Service]
User=palandri
ExecStart=rclone --vfs-cache-mode writes mount "onedrive": /home/palandri/OneDrive

[Install]
WantedBy=default.target
